$textonavbar: rgb(24, 137, 141);
$textonavlinks: black;
$textoshadow: whitesmoke;
$bg-formulario: rgb(164, 138, 164);
$bg-formularioBotton:rgb(122, 89, 122);
$bg-footer:linear-gradient(270deg, #ffffff 0, #f8f7f8 25%, #e8e2e8 50%, #d7ced9 75%, #c9bdce 100%);
@mixin sizeImg ($width, $height) {
    width: $width;
    height: $height;
}
