.mainContenedor{
    .mainRow{
        .mainDiv{
            #cajaformulario{
                width: 440px;
                height: 500px;
                margin-left: 2rem;
                margin-top: 10px;
                border-radius: 2%;
                border-color: $textonavlinks;
                background-color:$bg-formulario;
                padding: 30px;
                flex-wrap: wrap;
                    .cancelar{
                        margin-top: 5px;
                        padding: 2px;
                        background-color: $bg-formularioBotton;
                        border-color: black;
                        flex-wrap: wrap;
                        }
                    .enviar{
                        @extend .cancelar;
                        font-weight: bold;
                    }   
                 }
            }
        }
        .mainImg{
            .imagenContact{
                @include sizeImg(770px, 500px);
                padding: 0px;
                margin-top: 2.5rem;
                                
              }
        }
    }
