.hcontainer{
    .navbar{
       .container-fluid{
           .navbar-brand{
               animation-name: animation;
               animation:zoomIn;
               animation-duration: 2s;
               &:hover{ color:$textonavbar;               
                   text-shadow: 0 0 1px $textoshadow, 0 0 1px , 0 0 1px ;
                   transition: 0.2s;
               }
           }
           #navbarNav{
               .navbar-nav{
                   .nav-item{
                       margin-right: 2rem;
                       .nav-link{
                           &:hover{color:$textonavbar;               
                               text-shadow: 0 0 1px $textoshadow, 0 0 1px , 0 0 1px ;
                               transition: 0.2s;
                               } 
                           }
                       }
                   }
               }
           }
       }
   }



   
