.header-container{
    height: 745px;
    background-image: url(../assets/Gres-Platos-Tazas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .navbar{
        .container-fluid{
            .navbar-brand{
                animation-name: animation;
                animation:zoomIn;
                animation-duration: 2s;
                &:hover{
                    text-shadow: 0 0 2px $textonavbar, 0 0 2px , 0 0 2px ;
                    transition: 0.2s;
                }
            }
            #navbarNav{
                .navbar-nav{
                    .nav-item{
                        margin-right: 2rem;
                        .nav-link{
                            color:$textonavlinks;
                            &:hover{
                                color:$textonavbar;               
                                text-shadow: 0 0 1px $textoshadow, 0 0 1px , 0 0 1px ;
                                transition: 0.2s;
                            }
                        }
                    }
                }
            }
        }
    }
}

