@media only screen and  (min-width: 768px){
    .header-container{
        .navbar{
            .container-fluid{
                .navbar-brand {
                    font-size: 2rem;
                }
            }
        }
    }
   
    footer{
        .footerMobile{
            display: none;
        }
    
    }
}

@media only screen and  (max-width: 993px){
    footer{
        .footerP{
            .pie__sub{
                width: 15rem;
                height: 20rem;
                margin-left: 0px;
                margin-right: 0px;
           
            }
        }
    }  
}


@media only screen and  (max-width: 767.9px){
    footer{
        .footerP{
            display: none;
        }
    }

    
    .mainContenedor{
        .mainRow{
            .mainDiv{
                #cajaformulario{
                    width: 350px;
                    margin-left:2px;
                    margin-top: 10px;
                    border-radius: 2%;
                    font-size: 15px;
                    padding: 10px;
                    flex-wrap: wrap;
                    .form{
                        width: 330px;
                    }
                    textarea{
                        width: 300px;
                    }
                }
            }
        }
    
    }
}

@media only screen and (max-width:428px){
    .mainContenedor{
        .mainRow{
            .mainDiv{
                #cajaformulario{
                    width: 360px;
                    margin-left:2px;
                    margin-top: 10px;
                    font-size: 15px;
                    padding: 10px;
                    flex-wrap: wrap;
                    .form{
                        width: 360px;
                    }
                    textarea{
                        width: 340px;
                    }
                }
            }
            .mainImg{
                .imagenContact{
                    @include sizeImg(370px, 370px);
                    margin-right: 2px;
                    
                  }
            }
        }
    
    }
    .imagenTaller{
        @include sizeImg(400px, 300px);
        margin: 0px;
    }
}

 @media only screen and (max-width:376px){
    .mainContenedor{
        .mainRow{
            .mainDiv{
                #cajaformulario{
                    width: 320px;
                    margin-left:2px;
                    margin-top: 10px;
                    font-size: 15px;
                    padding: 10px;
                    flex-wrap: wrap;
                    .form{
                        width: 300px;
                    }
                    textarea{
                        width: 280px;
                    }
                }
            }
            .mainImg{
                .imagenContact{
                    @include sizeImg(320px, 320px);
                    margin-right: 2px;
                    
                  }
            }
        }
    
    }
    .imagenTaller{
        @include sizeImg(320px, 220px);
    }
}